.alternative a{
    text-decoration:none;
}
.form{
    
    height:100vh;
}
.form-container{
    width:40%;
    margin-top:180px;
    

}
form input{
    margin-top:15px;
    border:none;
    height:50px;
    padding:10px;
}