.alternative a{
    text-decoration:none;
}
.form{
    
    height:100vh;
}
.form-container{
    width:40%;
    margin-top:10px;
    

}
form input{
    margin-top:15px;
    border:none;
    height:50px;
    padding:10px;
}

.error{
    border:2px solid red;
}

form input:focus{
    outline:0;
}

.error-message{
    color:red;
}